
/* body {
  background: linear-gradient(to bottom right, rgb(224, 215, 249), #c0b2ed);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

body{
    background: linear-gradient(to bottom, #ffffff, #e6e6ff); 
    max-height: max-content;
    width: 100%;
    height: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0%;
}


.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 18px;
    width: 650px; /* Adjust the width as needed */
    text-align: center;
  }
  
  .app-name {
    font-size: 28px;
    margin-bottom: 16px;
    color: #6c63ff; /* Light violet color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-content {
    font-size: 16px;
    margin-bottom: 32px;
    color: #666666;
  }
  
  .get-started-button {
    background-color: #a98ff3; /* Light violet color */
    color: #ffffff;
    border: none;
    box-shadow: #e6e6ff;
    border-radius: 5px;

    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .task-creation-area {
    margin-top: 24px;
  }

  .card-title {
    font-size: 30px;
    font-weight: bold;
    color: #8660eedb; /* Light violet color */
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: none;
    shape-margin: 7;
    text-shadow: #0b0b57;
    text-shadow: #3d3dae;
    box-shadow: #a98ff3;
  font-family:  'Gill Sans', 'Gill Sans MT';
    text-align: center;
  }